body {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat;
}
header {
  height: 61px;
  /* margin-top: 0px; */
  background-color: #d84f57;
  align-items: center;
}
.header-wrapper {
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 46px;
}
.header-left {
  display: flex;
  line-height: 0;
  font-size: 14px;
  letter-spacing: 0.2px;
  align-items: center;
  margin-left: 16px;
  margin-top: 13px;
}
.header-right {
  display: flex;
  float: right;
  align-items: center;
  line-height: 0;
  font-size: 14px;
  letter-spacing: 0.2px;
  margin-right: 22px;
  margin-top: 10px;
}
.left-contents {
  padding: 16px 11px;
  margin: 0 5px;
  color: #f7f4f4;
  font-weight: bold;
}
.right-contents {
  padding: 3px 4px;
  margin: 0 5px;
  color: #f7f4f4;
  font-weight: bold;
}
.dropdown-arrow {
  background-color: #d84f57;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.main-img {
  display: flex;
  height: 450px;

  background-size: cover;
  width: 100%;
  background-repeat: round;
}
sup {
  top: -0.5em;
  left: -11px;
  color: #ffffff;
  font-size: 75%;
  line-height: 0;
  position: relative;
}
.search-section {
  background-image: url(./NewYear2021.png);
  height: 439px;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  width: 100%;
}
.search-wrapper {
  padding-top: 156px;
  display: flex;
  justify-content: center;
}
.search-content {
  display: flex;
  /* justify-content: center; */
  /* font-size: 36px; */
}
.from {
  block-size: 51px;
  position: relative;
  /* width: 307px; */
  font-size: 15px;
  background-color: fff;
  height: 49px;
  border-right: 1px solid black;
}
#icon {
  font-size: 28px;
  padding-top: 10px;
  padding-left: 27px;
  color: #808080;
}
#toggle {
  font-size: 24px;
  position: absolute;
  left: -18px;
  top: 6px;
  border: 1px solid #808080;
  border-radius: 50%;
  background-color: #fff;
  padding: 4px;
  color: #808080;
}
input {
  outline: none;
}
.offers-wrapper {
  width: 100%;
  height: 401px;
  background-color: yellowgreen;
}
.safety-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 63px;
  background-color: #f7f7f7;
  position: relative;
}

.introducing-safety {
  display: flex;
  justify-content: center;
  background-color: #fff5e5;
  position: absolute;
  width: 554px;
  height: 84px;
  top: -38px;
}
.offer-wrapper {
  background-color: #f7f7f7;
  height: 347px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.safety-symbol {
  background-color: #fff5e5;
  width: 100px;
  position: relative;
}
.safety-writings {
  height: 84px;
  width: 456px;
}
#safety-img {
  position: absolute;
  left: 20px;
  background-color: #fff5e5;
  top: 9px;
}
.introducing {
  background-color: #fff5e5;
  height: 36px;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: -0.19px;
  color: #3d3d3d;
}
.intro-para {
  background-color: #fff5e5;
  height: 48px;
  position: relative;
}
.know-more {
  position: absolute;
  height: 24px;
  width: 109px;
  top: 15px;
  left: 323px;
  background-color: #d84f57;
  font-size: 14px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}
.inside-intro-para {
  background-color: #fff5e5;
  width: 65%;
  height: 100%;
}
.journey-for-dreams {
  background-color: #ffffff;
  height: 234px;
  width: 25%;
  /* padding-right: 23px; */
  margin: 0 10;
}
.amazon-pay {
  background-color: #ffffff;
  height: 234px;
  width: 27%;
  margin: 0 0 0 10px;
}
.journey-one {
  font-size: 14px;
  font-weight: 600;
  color: #737373;
  margin-top: 15px;
  display: block;
  text-align: center;
}
.journey-three {
  font-size: 14px;
  font-weight: 600;
  color: #737373;
  margin-top: 5px;
  display: block;
  text-align: center;
}
.safety-procedures-wrapper {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  height: 410px;
  justify-content: space-around;
  align-items: center;
}
.safety-procedure {
  background-color: #ffffff;
  width: 1132px;
  height: 344px;
  border: 1px solid #b9b9b9;
  display: flex;
  flex-direction: column;
}
.safety-plus-wrapper {
  width: 100%;
  height: 104px;
  display: flex;
  flex-direction: row;
}
.symbol {
  width: 12%;
  height: 104px;
}
.writings-wrapper {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.writing-one {
  background-color: #ffffff;
  width: 100%;
  height: 57px;
  text-align: left;
  color: #3e3e52;
  font-size: 32px;
  font-weight: 700;
  margin-top: 27px;
}
.writing-two {
  background-color: #ffffff;
  width: 100%;
  height: 57px;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.3px;
  text-align: left;
  color: #7e7e8c;
  margin-top: 10px;
}
.procedure-list {
  width: 100%;
  /* background-color: red; */
  height: 238px;
  margin-top: 25px;
}
.list-one {
  /* background-color: red; */
  width: 100%;
  height: 58px;
  display: flex;
  /* justify-content: center; */
  flex-direction: row;
  position: relative;
}

.list-two {
  /* background-color: black; */
  height: 155px;
  display: flex;
  justify-content: center;
}
.one {
  /* background-color: blue; */
  height: 58px;
  width: 35px;
  /* padding-left: 3px; */
  position: absolute;
  left: 120px;
}
.two {
  /* background-color: yellow; */
  height: 58px;
  width: 121px;
  position: absolute;
  left: 155px;
  line-height: 1.71;
  letter-spacing: 0.3px;
}
.three {
  /* background-color: aliceblue; */
  height: 57px;
  width: 68px;
  position: absolute;
  left: 276px;
}
.four {
  /* background-color: yellowgreen; */
  height: 58px;
  width: 233px;
  position: absolute;
  left: 344px;
  line-height: 1.71;
  letter-spacing: 0.3px;
}
.heading {
  /* background-color: rebeccapurple; */
  height: 155px;
  width: 291px;
}
.line-one {
  height: 24px;
  font-size: 19px;
  font-weight: bolder;
  color: #1446a0;
}
.line-two {
  width: 271px;
  padding-top: 10px;
  height: 60px;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.3px;
  color: #34495e;
  text-align: left;
}
.track-bus-wrapper {
  width: 100%;
  height: 548px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.track-bus {
  background-color: #e8ecef;
  height: 517px;
  width: 1141px;
}
.img-writing-wrapper {
  /* background-color: red; */
  width: 100%;
  height: 298px;
  display: flex;
  flex-direction: row;
}

.track-img {
  /* background-color: yellow; */
  height: 298px;
  width: 46%;
}
.track-content {
  /* background-color: green; */
  width: 54%;
}
.track-content-one {
  width: 100%;
  height: 88px;
  height: 29px;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  padding-top: 60px;
  color: #4a4a4a;
}
.track-content-two {
  height: 105px;
  padding-top: 50px;
  font-size: 20px;
  line-height: 1.36;
  text-align: left;
  padding-right: 76px;
  height: 38px;
  color: #4a4a4a;
}
.track-content-three {
  /* background-color: yellow; */
  height: 105px;
}

.plain-div {
  width: 940px;
  height: 2px;
  border-bottom: 2px solid #ddd;
  padding-top: 35px;
  margin-left: 92px;
  margin-right: 92px;
}
.count-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.count {
  height: 10px;
  width: 22%;
}
.count-one {
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  color: #4a4a4a;
  margin-top: 26px;
}
.count-two {
  font-size: 36px;
  text-align: center;
  color: #da4d52;
}
.count-three {
  font-size: 20px;
  text-align: center;
  color: #4a4a4a;
}
.convinience-wrapper {
  /* background-color: rebeccapurple; */
  /* background-image: url("./convinience.png"); */
  width: 100%;
  height: 548px;
  display: flex;
  justify-content: center;
  position: relative;
}

.convinience {
  height: 517px;
  width: 1141px;
  display: flex;
  flex-direction: row;
  position: absolute;
}
.writing-part {
  /* background-color: blue; */
  height: 517px;
  width: 52%;
}
.picture {
  background-color: gray;
  width: 48%;
}
.write-one {
  font-size: 30px;
  line-height: 5.1em;
  color: #4a4a4a;
  font-weight: 600;
  margin-bottom: 60px;
  width: 84%;
  margin-left: 61px;
}
.write-two {
  color: #4a4a4a;
  font-size: 17px;
  width: 387px;
  font-weight: 300;
  margin-top: -89px;
  margin-left: 64px;
}

.write-three {
  width: 42%;
  margin-top: 1px;
  margin-left: 64px;
}
.write-four {
  margin-top: 1px;
  margin-left: 64px;
}

.sub-write {
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  margin-top: 13px;
}
.phone-code {
  margin-top: 13px;
  margin-left: -264px;
  width: 11%;
  height: 25px;
}
.background-pic {
  background-image: url(./convinience.png);
  /* position: absolute; */
  width: 100%;
  opacity: 0.2;
}
.promise-wrapper {
  height: 592px;
  width: 100%;
  margin-top: 133px;
  display: flex;
  flex-direction: column;
}
.we-promise {
  background-color: #ededed;
  height: 161px;
  position: relative;
}
.list-of-promise {
  height: 393px;
  width: 85%;
  border: 1px solid darkgray;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
}
.promise-content {
  margin-top: 123px;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.1em;
  color: #4a4a4a;
}
.list-of-promise-wrapper {
  height: 431px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ededed;
}
.promise-one {
  width: 25%;
  height: 391px;
  border-right: 1px solid darkgray;
  /* background-color: red; */
}
.promise-two {
  width: 25%;
  height: 391px;
  /* background-color: red; */
  border-right: 1px solid darkgray;
}
.promise-three {
  width: 25%;
  height: 391px;
  border-right: 1px solid darkgray;
  /* background-color: red; */
}
.promise-four {
  width: 25%;
  height: 391px;

  /* background-color: red; */
}
.sub-one {
  margin-top: 35px;
  margin-bottom: 15px;
  min-height: 125px;
  height: 89px;
  padding-left: 82px;
}
.sub-two {
  color: #4a4a4a;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  word-spacing: 8px;
  margin-bottom: 27px;
  margin: 0 auto;
  width: 215px;
  text-align: center;
}
.sub-three {
  margin-left: 15px;
  margin-right: 15px;
  color: #737373;
  font-size: 14px;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  padding-top: 49px;
}
.awards-wrapper {
  /* background-color: red; */
  height: 398px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.awards {
  height: 412px;
  display: flex;
  width: 80%;
  flex-direction: column;
}
.award-writing {
  /* background-color: blue; */
  height: 131px;
  text-align: center;
  font-weight: 600;
  font-size: 29px;
  line-height: 1.1em;
  color: #4a4a4a;
  padding-top: 47px;
}
.awards-picture {
  height: 280px;
  display: flex;
  justify-content: center;
}
.list-of-awards {
  width: 31%;
  text-align: center;
  margin: 30px 0;
}

.list-of-awards-two {
  width: 186px;
  margin: 0 auto;
  letter-spacing: 3px;
  font-size: 16px;
  /* margin-bottom: 11px; */
  margin-top: 7px;
  font-weight: 500;
  /* line-height: 25px; */
}
.global-wrapper {
  background-color: #f1f1f1;
  height: 457px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.global {
  flex-direction: column;
  /* background-color: yellow; */
  height: 457px;
  width: 88%;
  display: flex;
}
.global-one {
  height: 111px;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.1em;
  color: #4a4a4a;
  padding: 31px;
}
.global-two {
  height: 346px;
  display: flex;
  flex-direction: column;
}
.sub-global {
  height: 163px;
  display: flex;
  justify-content: space-around;
}
.colombia {
  padding-top: 11px;
}
.india {
  padding-top: 11px;
}
.indonesia {
  padding-top: 11px;
}
/* .flag { */
/* } */
.flag-name {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  letter-spacing: 2.7px;
  color: #737373;
  font-size: 14px;
  text-transform: uppercase;
}
.growing-wrapper {
  display: flex;
  justify-content: center;
  height: 96%;
}
.growing {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.growing-writing {
  text-align: center;
  margin-top: 40px;
  font-size: 30px;
  line-height: 1.1em;
  color: #4a4a4a;
  font-weight: 600;
}
.growing-count {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* align-items: center; */
  padding-top: 63px;
}
.grow {
  text-align: center;
  width: 33.33%;
}
.grow-one {
  color: #737373;
  letter-spacing: 2px;
  font-size: 14px;
}
.grow-two {
  color: #da4e52;
  font-size: 46px;
  font-weight: 400;
}
.grow-three {
  width: 208px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  color: #737373;
}
